{% extends 'base.html' %}

{% block title %}Changing_password{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/register.css') }}">
{% endblock %}

{% block main %}
    <h3 class="page-title">Password changes</h3>
    <form action="" method="POST">
        <div class="from-container">
            <div class="form-group">Original Password:
                <input type="password" class="form-control" placeholder="Please input your original password" name="o_password">
            </div>
            <div class="form-group">Password:
                <input type="password" class="form-control" placeholder="Please input your password" name="password">
            </div>
            <div class="form-group">Confirm Password:
                <input type="password" class="form-control" placeholder="confirm password" name="confirm_password">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" value="submit">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}